* {
  box-sizing: border-box;
}

h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.header {
  position: sticky;
  display: flex;
  width: 100%;
  height: 48px;
  border-bottom: 2px solid #c7c7c7;
  padding: 0.5rem 1rem;
}

.container {
  width: 100%;
  padding: 15px 15px auto auto;
  justify-content: center;
  height: 100%;
  margin-left: 162px;
  margin-right: 162px;
}

.blusas {
  width: 97px;
  height: 44px;
}

.innerContainer {
  flex-wrap: wrap;
  display: flex;
  padding: 15px 15px auto auto;
  justify-content: center;
  height: 100%;
  margin-top: 55px;
  margin-left: 162px;
  margin-right: 162px;
}

.footer {
  position: fixed;
  width: 100%;
  height: 33px;
  text-align: center;
  line-height: 33px;
  bottom: 0px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  background-color: black;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
}

.logo {
  position: relative;
  width: 119px;
  left: 50px;
}

.icon {
  position: relative;
  align-items: center;
  width: 20px;
}
img {
  width: 100%;
  height: auto;
}

.filter {
  position: relative;
  display: inline-block;
}
.orderBy {
  width: 142px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 42px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  background-color: white;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  cursor: pointer;
}

.orderBy-content {
  width: 142px;
  height: 107px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  background-color: white;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  cursor: pointer;
}

.orderBy-internal {
  width: 142px;
  height: 42px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  background-color: white;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  cursor: pointer;
}

.colorFilter {
  position: relative;
}

.sizeFilter {
  position: relative;
}

.amountFilter {
  position: relative;
}

.label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */

  color: #000000;
}
/* Columnas en Desktop */

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

input[type="button"] {
  padding: 0px;
  margin: 8px 8px 0px 0px;
  width: 32px;
  height: 32px;
}

[class*="col-"] {
  float: left;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.card-product {
  position: relative;
  padding: 5px;
  margin-bottom: 40px;
  clear: right;
}

.card-product h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  /* identical to box height */
  color: #000000;

  text-transform: uppercase;
}

.card-product h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  text-align: center;
  margin: 0px;
}

.card-product p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #666666;
  margin: 0;
}

.buttonBlack {
  background-color: #000000;
  color: white;
  width: 100%;
  padding: 7px 49px;
}
