.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  position: absolute;
  width: 100%;
  height: 48px;
  left: 0px;
  top: 16px;
  border-bottom: 2px solid #c7c7c7;
}

.logo {
  position: absolute;
  width: 119px;
  height: 30px;
  left: 162px;
}

.icon {
  position: absolute;
  width: 20px;
  height: 23px;
  left: 1317px;
}

.footer {
  position: absolute;
  width: 100%;
  height: 33px;
  text-align: center;
  bottom: 0px;
  line-height: 33px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  background-color: black;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
}

.blusas {
  position: absolute;
  width: 97px;
  height: 44px;
  left: 162px;
  top: 104px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
}

.filter {
  position: absolute;
  width: 157px;
  height: 544px;
  left: 161px;
  top: 213px;
}

.orderBy {
  position: absolute;
  width: 112px;
  height: 182px;
  left: 162px;
  top: 213px;
}
